
@font-face {
  font-family: 'Mondwest Regular';
  src: url('../FONTS/PPMondwest-Regular.eot') format('embedded-opentype'),
      url('../FONTS/PPMondwest-Regular.svg') format('svg'),
      url('../FONTS/PPMondwest-Regular.woff2') format('woff2'),
      url('../FONTS/PPMondwest-Regular.woff') format('woff'),
      url('../FONTS/PPMondwest-Regular.ttf') format('truetype');
  }
  
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
  
  *{
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  body {
      width: calc(100% - 20px); 
  }
  
  /* header */
  
  .header-container {
      position: sticky;
      top: 0px;
      z-index: 100;
  }
  
  .header {
      height: 69px;
      display: flex;
      margin-bottom: 20px;
      position: -webkit-sticky;
      position: sticky;
      background-color: white;
  }
  
  .nav {
      width: 59.3%;
      height: 50px;
      top: 15px;
      display: grid;
      grid-template-columns: repeat(4, 25%);
      border: 1px solid black;
      border-right: 0;
      margin: 20px; 
  }
  
  .nav-item {
      border-right: 1px solid black;
      text-align: center;
      font-family: Mondwest Regular;
      line-height: 46px;
      font-size: 20px;
      text-decoration: none;
      color: black;
  }
  
  .nav-item p {
      height: 100%;
  }
  
  /* scrolling text */
  
  .marquee-section {
      top: 20px;
      position: relative;
      min-height: 50px;
      border: 1px solid black;
      height: 50px;
      width: 38.5%;
      display: flex;
      background-color: white;
  }
  
  .marquee-section, .marquee-section * {
      overflow: hidden;
      line-height: 46px;
  }
  
  .marquee {
      white-space: nowrap;
      font-family: Mondwest Regular;
      font-size: 25px;
      text-decoration: none;
      color: black;
  }
  
  .marquee-div {
      position: absolute;
      animation: move-left-to-right linear 20s infinite;
  }
  
  @keyframes move-left-to-right {
      from {
          transform: translateX(0%);
      }
      to {
          transform: translateX(-50%);
      }
  }
  
  .nav-item p:hover {
      background-color: black;
      transition: 0.2s;
      color: white
    }
  
  /* mobile */
  
  @media only screen and (max-width: 899px) {
      .header { 
          flex-wrap: wrap;
          height: 98px;
          margin-bottom: 40px;
          
      }
    }
  
  @media only screen and (max-width: 899px) {
      .nav { 
          top: 72px;
          width: 100%;
          margin-right: 0;
          margin-bottom: 40px;
      }
    }
  
  @media only screen and (max-width: 899px) {
      .marquee-section { 
          width: 100%;
          margin-left: 20px;
          top: -41px;
      }
    }

.discord {
  height: -webkit-fill-available;
  margin: 20px;
  margin-right: 0;
}

.widget {
  height: calc(100vh - 150px);
  max-height: -webkit-fill-available;
  width: 100%;
}

@media only screen and (max-width: 899px) {
  .discord { 
    margin: 10px;
    margin-top: 15px;
    background-color: white;
  }
}

@media only screen and (max-width: 899px) {
  .widget { 
    width: 100%;
    height: calc(100vh - 240px);
    max-height: -webkit-fill-available;

  }
}