
@font-face {
font-family: 'Mondwest Regular';
src: url('../FONTS/PPMondwest-Regular.eot') format('embedded-opentype'),
    url('../FONTS/PPMondwest-Regular.svg') format('svg'),
    url('../FONTS/PPMondwest-Regular.woff2') format('woff2'),
    url('../FONTS/PPMondwest-Regular.woff') format('woff'),
    url('../FONTS/PPMondwest-Regular.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*start of white bar*/

.white-bar {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: 15px;
  background-color: orange;
  color: white;
}

/*start of header*/

.header {
  position: sticky;
  top: 15px;
  z-index: 90;
  display: grid;
  overflow: hidden;
  grid-template-columns: 50.05% repeat(4, 12.5%);
  grid-template-rows: 57%;
  border: 1px solid black;
  margin: 20px;
  height: 85px;
}

.header-item {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-decoration: none;
}

.lower-header-item {
  border-right: 1px solid black;
}

.header-item p,.lower-header-item p {
  font-family: Mondwest Regular;
  color: black;
  font-size: 20px;   
}

.header-item p {
  text-align: center;
  line-height: 48px;
}

.lower-header-item p {
  text-align: center;
}

.join-here {
  grid-column: span 4;
  background-color: white;
  border-bottom: 0;
  border-right: 0;
  text-decoration: none;
  z-index: 50;
}

.join-here p {
  font-size: 21px;
  line-height: 36px;
  height: 100%;
}

.logo-container {
  background: white;
}

.logo {
  width: 118px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  height: 100%;
  padding-bottom: 4px;
  border-right: 1px solid black;
}

.about {
  border-right: 0;
}

.bio p{
  position: relative;
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  z-index: -1;
  font-size: 25px;
  line-height: 35px;
  background-color: white;
}
  
.logo, .home, .releases, .interviews, .about{
  background-color: white;
}

.releases p:hover {
  background-color: black;
  transition: 0.2s;
  color: white
}

.interviews p:hover {
  background-color: black;
  transition: 0.2s;
  color: white
}

.about p:hover {
  background-color: black;
  transition: 0.2s;
  color: white
}

.home p:hover {
  background-color: black;
  transition: 0.2s;
  color: white
}

.join-here :hover {
  background-color: black;
  transition: 0.2s;
  color: white
}

.bio p {
  animation: floatText 3300s infinite linear;
}

  @keyframes floatText {
    to {
      transform: translateX(-100%);
    }
  }

  @media only screen and (max-width: 899px) {
    .header { 
        grid-template-columns: 0% repeat(4, 25%);
    }
  }

  @media only screen and (max-width: 899px) {
    .logo p{ 
        display: none;
        border-right: 0;
    }
  }
  
  @media only screen and (max-width: 899px) {
    .logo{ 
        border-right: 0;
    }
  }

  @media only screen and (max-width: 899px) {
    .bio { 
        grid-column: span 5;
        border: 0;  
    }
  }

  @media only screen and (max-width: 899px) {
    .bio { 
        grid-column: span 5;
        border: 0;  
    }
  }
 
  @media only screen and (max-width: 425px) {
    .header-item p{ 
        font-size: 4.5vw; 
    }
  }


/*start of featured media*/

.featured-media {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px); 
  height: 45vw;
  max-height: 550px;
  margin: 20px 0px 0px 20px;
}

.featured-interview {
  background-image: url(../IMAGES/anime.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
  width: 50.05%;
}

.featured-interview-card {
  position:absolute; bottom: 0px;
  border-top: 1px solid black;
  background-color: white;
  height: 65px;
  width: 100%;
}

.featured-interview-title {
  margin-left: 10px;
  font-size: 18px;
  font-family: Mondwest Regular;
  text-decoration: none;
  color: black;
}

.featured-interview-artist {
  margin-left: 10px;
  margin-top: 10px;
}

.featured-interview-artist p {
  margin: auto;
  font-size: 23px;
  font-family: Mondwest Regular;
  text-decoration: none;
  color: black;
}

.featured-album {
  background-image: url(../IMAGES/crossing.pn);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  border: 1px solid black;
  border-left: 0;
  width: 50%;
  height: 100%;
}

.featured-album-cover {
  border-right: 1px solid black;
}

.featured-album-card {
  position:absolute; bottom: 0px;
  border-top: 1px solid black;
  background-color: white;
  height: 65px;
  width: 100%;
}

.featured-album p {
  width: 100%;
  height: 100%;
}

.featured-album-title {
  margin-left: 10px;
  font-size: 18px;
  font-family: Mondwest Regular;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}

.featured-album-artist {
  margin-left: 10px;
  margin-top: 10px;
}

.featured-album-artist p {
  margin-left: 10px;
  margin-top: 10px;
  margin: auto;
  font-size: 23px;
  font-family: Mondwest Regular;
  text-decoration: none;
  color: black;
}

.featured-album-bio {
  overflow: scroll;
  float: right;
  width: 40%;
  height: 80%;
  padding:5px;
  font-size: 17px;
  font-family: Mondwest Regular;
  color: black;
}

.featured-album:hover .featured-album-card {
  background-color: black;
  transition: 0.2s;
}
.featured-album:hover .featured-album-card p {
  transition: 0.2s;
  color: white;
}

.featured-interview:hover .featured-interview-card {
  background-color: black;
  transition: 0.2s;
}
.featured-interview:hover .featured-interview-card p {
  transition: 0.2s;
  color: white;
}

@media only screen and (max-width: 899px) {
  .featured-interview { 
    margin-right: 0px;
  }
}

@media only screen and (max-width: 899px) {
  .featured-album { 
    display: none;
  }
}

@media only screen and (max-width: 899px) {
  .featured-interview { 
    height: 96.5vw;
    width: 150vw;
  }
}


@media only screen and (min-width: 1441px) {
  .featured-album-cover { 
    height: 100%;
    width: auto;
  }
}

@media only screen and (max-width: 899px) {
  .featured-media { 
    height: 96vw;
  }
}

/*start of new in*/

.new-in {
  margin: 20px;
  margin-bottom: 0px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  font-family: Mondwest Regular;
  border: 1px solid black;
  border-bottom: 0;
}

/*start of releases grid*/

.card-container {
  border: 1px solid black;
  border-right: 0;
  border-bottom: 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 4fr));
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
}

.album {
  position: relative;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-decoration: none;
}

.album-cover {
  width: 100%;
  border-bottom: 1px solid black;
}

.album-card {
  position: relative;
  top: -5px;
  border-left: 0;
  
}

.album-title {
  text-decoration: none;
  font-size: 25px;
  font-family: Mondwest Regular;
  color: black;
  padding: 10px;
  padding-bottom: 0px
}

.album-artist {
  font-size: 18px;
  font-family: Mondwest Regular;
  color: black;
  padding-left: 10px;
}

.genre-tags {
  display: flex;
  padding: 10px;
  padding-bottom: 0px;
  flex-wrap: wrap; 
  margin-top: 5px;
}

.genre-tags p {
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  margin-right: 5px;
  color: black;
  font-family: Mondwest Regular;
  font-size: 15px;
}

.album:hover {
  background-color: black;
  transition: 0.2s;
}

.album:hover p {
  color: white;
  transition: 0.2s;
}

.album:hover .genre-tags p {
  border: 1px solid white;
  transition: 0.2s;
}

.album:hover #fourth-tag {
  border: 1px solid white;
  transition: 0.2s;
}

@media only screen and (max-width: 2098px) {
  .album { 
    height: 450 px;
  }
}

@media only screen and (max-width: 1200px) {
  .card-container { 
    grid-template-columns: repeat(auto-fit, minmax(30%, 4fr));
  }
}

@media only screen and (max-width: 767px) {
  .card-container { 
    grid-template-columns: repeat(auto-fit, minmax(50%, 4fr));
  }
}

@media only screen and (max-width: 450px) {
  .album-title { 
   font-size: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .album-artist { 
   font-size: 15px;
  }
}

@media only screen and (max-width: 450px) {
  .genre-tags p{ 
   font-size: 10px;
  }
}

/*start of view entire collection*/

.view-entire-collection {
 border: 1px solid black;
 display: flex;
 margin: 20px;
 margin-bottom: 0;
 height: 40px;
 text-decoration: none;
}

.view-entire-collection p {
  font-family: Mondwest Regular;
  font-size: 20px;
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
}

.view-entire-collection p:hover {
  transition: 0.2s;
  background-color: black;
  color: white
}

/*start of footer*/

.footer {
  position: sticky;
  display: flex;
  margin: 20px;
  margin-top: -1px;
  border-top: 1px solid black;
  background-color: white;
  height: 45px;
  width: calc(100% - 40px); 
  margin-bottom: env(safe-area-inset-bottom);
}

.footer-item {
  height: 100%;
  background-color: white;
  line-height: 45px;
  width: 25%;
  font-family: Mondwest Regular;
  font-size: 20px;
  color: black;
  text-align: center;
  text-decoration: none;
}

 
@media only screen and (max-width: 425px) {
  .footer a{ 
      font-size: 4.5vw; 
  }
}

/*mobile screen padding*/

@media only screen and (max-width: 899px) {
  .header{ 
      margin: 10px;
      margin-bottom: 20px;
  }
}

@media only screen and (max-width: 899px) {
  .featured-media { 
    max-height: none;
    margin-left: 10px;
    width: calc(100% - 20px); 
  }
}

@media only screen and (max-width: 899px) {
  .new-in { 
   margin-left: 10px;
   margin-right: 10px;
  }
}

@media only screen and (max-width: 899px) {
  .card-container { 
   margin-left: 10px;
   margin-right: 10px;
  }
}

@media only screen and (max-width: 899px) {
  .view-entire-collection { 
   margin-left: 10px;
   margin-right: 10px;
  }
}

@media only screen and (max-width: 899px) {
  .footer { 
   margin-left: 10px;
   margin-right: 10px;
   width: calc(100% - 20px); 
  }
}

.footer-item:hover {
  transition: 0.2s;
  background-color: black;
  color: white
}