@font-face {
font-family: 'Mondwest Regular';
src: url('../FONTS/PPMondwest-Regular.eot') format('embedded-opentype'),
    url('../FONTS/PPMondwest-Regular.svg') format('svg'),
    url('../FONTS/PPMondwest-Regular.woff2') format('woff2'),
    url('../FONTS/PPMondwest-Regular.woff') format('woff'),
    url('../FONTS/PPMondwest-Regular.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: calc(100% - 20px); 
}

/* header */

.header-container {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.header {
    height: 69px;
    display: flex;
    margin-bottom: 20px;
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
}

.nav {
    width: 59.3%;
    height: 50px;
    top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    border: 1px solid black;
    border-right: 0;
    margin: 20px; 
}

.nav-item {
    border-right: 1px solid black;
    text-align: center;
    font-family: Mondwest Regular;
    line-height: 46px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.nav-item p {
    height: 100%;
}

/* scrolling text */

.marquee-section {
    top: 20px;
    position: relative;
    min-height: 50px;
    border: 1px solid black;
    height: 50px;
    width: 38.5%;
    display: flex;
    background-color: white;
}

.marquee-section, .marquee-section * {
    overflow: hidden;
    line-height: 46px;
}

.marquee {
    white-space: nowrap;
    font-family: Mondwest Regular;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.marquee-div {
    position: absolute;
    animation: move-left-to-right linear 20s infinite;
}

@keyframes move-left-to-right {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.nav-item p:hover {
    background-color: black;
    transition: 0.2s;
    color: white
  }

/* mobile */

@media only screen and (max-width: 899px) {
    .header { 
        flex-wrap: wrap;
        height: 98px;
        margin-bottom: 40px;
        
    }
  }

@media only screen and (max-width: 899px) {
    .nav { 
        top: 72px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }
  }

@media only screen and (max-width: 899px) {
    .marquee-section { 
        width: 100%;
        margin-left: 20px;
        top: -41px;
    }
  }

/* featured media */

.featured-media {
    display: flex;
    width: calc(100% - 20px); 
    margin: 20px 0px 20px 20px;
  }
  
  .featured-interview {
    background-image: url(../IMAGES/weather.png);
    background-size: cover;
    background-position: center;
    position: relative;
    border: 1px solid black;
    width: 77%;
    margin-right: 20px;
    height: 42vw;
  }
  
  .featured-interview-card {
    position:absolute; bottom: 0px;
    border-top: 1px solid black;
    background-color: white;
    height: 65px;
    width: 100%;
  }
  
  .featured-interview-title {
    margin-left: 10px;
    font-size: 18px;
    font-family: Mondwest Regular;
    text-decoration: none;
    color: black;
  }
  
  .featured-interview-artist {
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .featured-interview-artist p {
    margin: auto;
    font-size: 23px;
    font-family: Mondwest Regular;
    text-decoration: none;
    color: black;
  }
  
  .featured-album {
    background-image: url(../IMAGES/ALBUMCOVERS/argonuff.jpg);
    background-size: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    width: 50%;
    height: 42vw;
  }
  
  .featured-album-cover {
    border-right: 1px solid black;
  }
  
  .featured-album-card {
    position:absolute; bottom: 0px;
    border-top: 1px solid black;
    background-color: white;
    height: 65px;
    width: 100%;
  }
  
  .featured-album p {
    width: 100%;
    height: 100%;
  }
  
  .featured-album-title {
    margin-left: 10px;
    font-size: 18px;
    font-family: Mondwest Regular;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
  }
  
  .featured-album-artist {
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .featured-album-artist p {
    margin-left: 10px;
    margin-top: 10px;
    margin: auto;
    font-size: 23px;
    font-family: Mondwest Regular;
    text-decoration: none;
    color: black;
  }
  
  .featured-album-bio {
    overflow: scroll;
    float: right;
    width: 40%;
    height: 80%;
    padding:5px;
    font-size: 17px;
    font-family: Mondwest Regular;
    color: black;
  }
  
  .featured-album:hover .featured-album-card {
    background-color: black;
    transition: 0.2s;
  }
  .featured-album:hover .featured-album-card p {
    transition: 0.2s;
    color: white;
  }
  
  .featured-interview:hover .featured-interview-card {
    background-color: black;
    transition: 0.2s;
  }
  .featured-interview:hover .featured-interview-card p {
    transition: 0.2s;
    color: white;
  }
  
  @media only screen and (max-width: 899px) {
    .featured-interview { 
      margin-right: 0px;
    }
  }
  
  @media only screen and (max-width: 899px) {
    .featured-album { 
      display: none;
    }
  }
  
  @media only screen and (max-width: 899px) {
    .featured-interview { 
      height: 96.5vw;
      width: 150vw;
    }
  }
  
  @media only screen and (min-width: 1441px) {
    .featured-album-cover { 
      height: 100%;
      width: auto;
    }
  }
  
  @media only screen and (max-width: 899px) {
    .featured-media { 
      height: 96vw;
    }
  }
  
  /*start of releases grid*/
  
  .card-container {
    border: 1px solid black;
    border-right: 0;
    border-bottom: 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 4fr));
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .album {
    position: relative;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-decoration: none;
  }
  
  .album-cover {
    width: 100%;
    border-bottom: 1px solid black;
  }
  
  .album-card {
    position: relative;
    top: -5px;
    border-left: 0;
  }
  
  .album-title {
    text-decoration: none;
    font-size: 25px;
    font-family: Mondwest Regular;
    color: black;
    padding: 10px;
    padding-bottom: 5px
  }
  
  .album-artist {
    font-size: 18px;
    font-family: Mondwest Regular;
    color: black;
    padding-left: 10px;
  }
  
  .genre-tags {
    display: flex;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0px;
    flex-wrap: wrap; 
    margin-top: 5px;
  }
  
  .genre-tags p {
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    margin-right: 5px;
    color: black;
    font-family: Mondwest Regular;
    font-size: 15px;
  }
  
  .album:hover {
    background-color: black;
    transition: 0.2s;
  }
  
  .album:hover p {
    color: white;
    transition: 0.2s;
  }
  
  .album:hover .genre-tags p {
    border: 1px solid white;
    transition: 0.2s;
  }
  
  .album:hover #fourth-tag {
    border: 1px solid white;
    transition: 0.2s;
  }
  
  @media only screen and (max-width: 2098px) {
    .album { 
      height: 450 px;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .card-container { 
      grid-template-columns: repeat(auto-fit, minmax(30%, 4fr));
    }
  }
  
  @media only screen and (max-width: 767px) {
    .card-container { 
      grid-template-columns: repeat(auto-fit, minmax(50%, 4fr));
    }
  }
  
  @media only screen and (max-width: 450px) {
    .album-title { 
     font-size: 20px;
    }
  }
  
  @media only screen and (max-width: 450px) {
    .album-artist { 
     font-size: 15px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .genre-tags { 
     display: none;
    }
  }
  